body {
	padding: 0;
	margin: 0;
	font-size: 21px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	-webkit-text-stroke-width: 0;
	-webkit-text-stroke-color: black;
}
@-webkit-keyframes bgAnimated {
    0%{background-position:0 22%}
    50%{background-position:100% 79%}
    100%{background-position:0 22%}
}
@-moz-keyframes bgAnimated {
    0%{background-position:0 22%}
    50%{background-position:100% 79%}
    100%{background-position:0 22%}
}
@-o-keyframes bgAnimated {
    0%{background-position:0 22%}
    50%{background-position:100% 79%}
    100%{background-position:0 22%}
}
@keyframes bgAnimated {
    0%{background-position:0 22%}
    50%{background-position:100% 79%}
    100%{background-position:0 22%}
}
canvas {
	text-align: center;
	vertical-align: top;
}
#bg {
	z-index: -2;
	position: fixed;
	background: linear-gradient(120deg, #a83279, #d38312);
	background-size: 200%;
	-webkit-animation: bgAnimated 15s ease infinite;
	-moz-animation: bgAnimated 15s ease infinite;
	-o-animation: bgAnimated 15s ease infinite;
	animation: bgAnimated 15s ease infinite;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#puzzlebg {
	z-index: -1;
	position: fixed;
	background-image: url(img/bg.png);
	background-repeat: repeat;
	background-size: 800px;
	width: calc(100% + 5px);
	height: calc(100% + 5px);
	left: -5px;
	top: -5px;
	display: flex;
}
#puzzlebg img {
	margin: auto;
}
#stats {
	z-index: 100;
	position: fixed;
	background-color: #151515;
	border-bottom-left-radius: 10px;
	padding: 10px;
	width: 120px;
	line-height: 30px;
	right: 0;
	display: flex;
	flex-direction: column;
}
#results-popup {
	background-color: #151515;
	border-radius: 10px;
	box-shadow: 0 0 20px white;
	z-index: 100;
	position: fixed;
	opacity: 0;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	top: 50%;
	left: 50%;
	margin-left: -140px;
	margin-top: -130px;
	min-width: 200px;
	min-height: 180px;
	max-width: 200px;
	max-height: 200px;
	/* center this div differently */
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
#whitebg {
	z-index: 1;
	pointer-events: none;
}
#layer1 {
	z-index: 2;
}
#layer2 {
	z-index: 3;
	pointer-events: none;
}
.container {
	font-size: 0;
	position: absolute;
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
	left: 70px;
	right: 0;
	text-align: center;
}
#diff-select {
	z-index: 100;
	position: fixed;
	padding: 0;
	top: 0;
	left: 50%;
	margin-left: -200px;
	min-width: 400px;
	min-height: 200px;
	border-radius: 10px;
	opacity: 0;
	display: flex;
	flex-direction: column;
	background-color: #151515;
}
.diff {
	width: 400px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.diff:hover {
	background-color: #282828;
	cursor: pointer;
}

.sidebar {
	z-index: 100;
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 70px;
	height: 100vh;
	background-color: #151515;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	white-space: nowrap;
	transition: .3s ease;
}
.sidebar-item {
	height: 45px;
}

.sidebar:hover {
	width: 270px;
	/* overflow-y: scroll; */
}

.sidebar .sidebar-item {
	padding: 10px;
}

.sidebar .sidebar-item:hover {
	background-color: #282828;
	cursor: pointer;
}

.sidebar .sidebar-item .fas {
	font-size: 25px;
	width: 40px;
	padding: 10px;
}